/* CSS Document */

html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #f8f8f8;
	height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -45px;
	/* Pad bottom by footer height */
	padding: 0 0 150px;
	/* header top bar bg */
	background-image: url(../../img/header/header_bg2.png);
	background-repeat: repeat-x;
	background-position: 0px top;
}

/* HELPFULL CLASSES */

.clearfix:after {
  clear: both;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.fit-full-width {	
	display: block;
	width: 100%;
}

.fit-left-half {
	width: 48%; 
	display: inline-block;
	#float: left !important;
}

.fit-right-half {
	width: 48%; 
	display: inline-block;
	float: right !important;
}

.fit-left-one-third {
	width: 27%; 
	display: inline-block;
	#float: left !important;
}

.fit-right-two-third {
	width: 69%;
	display: inline-block;
	float: right !important;
}
